body { background-color: $base-background-color; }

.button { font-family: $heading-font-family; }
.hidden { display: none; }

%inverse-link {
  color: $inverse-color;
  opacity: 0.65;
  text-decoration: none;
  transition: opacity 0.1s linear;

  &:active,
  &:focus,
  &:hover { opacity: 1; }

  &:active,
  &:focus { outline: none; }
}

.smcaps {
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "c2sc", "smcp", "kern";
  -webkit-font-feature-settings: "c2sc", "smcp", "kern";
  font-feature-settings: "c2sc", "smcp", "kern";
}

.footnotes {
  margin-top: 1rem;

  ol {
    @extend %default-ol;
    font-size: 0.75em;
  }

  ol li p {
    font-size: 1.0625rem;
    line-height: $base-line-height;
  }
}


%body-text {
  font-size: $base-font-size;

  blockquote {
    h1, h2, h3, h4, h5, h6 { margin-top: 0; }
    p:last-child {margin-bottom: 0; }
  }

  h3 { margin-top: 2rem; }
  h4 { font-size: 1rem; margin-top: 1.5rem; }
  ol { @extend %default-ol; font-size: $base-font-size * 1.25; }
  ul { @extend %default-ul; font-size: $base-font-size * 1.25; }

  p {
    font-size: $base-font-size * 1.35;
    margin-bottom: 0;
    + p { text-indent: $base-spacing; }
  }

  #appendix,
  #notes { margin-top: 1.5rem; }
}

.hide-on-mobile {
  @include media($small-screen) { display: none; }

  @media only screen
  and (min-width: $medium-screen)
  and (max-width: $large-screen)
  and (orientation: portrait) {
    display: none;
  }
}

.print-only {
  @media only screen {
    display: none;
  }
}

.force-wrap {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.table-of-contents {
  font-size: 1.135em;

  h4 {
    font-size: 1.135em;
    margin-bottom: 0.25rem;
  }
}

// style collection links in the Guide section differently
.guide article {
  h1, h2, h3, h4, h5, h6 { clear: both; }
  ul { list-style-type: circle; }
  li {
    line-height: $base-line-height;
    margin-bottom: 0.5rem;

    a {
      font-variant-caps: all-small-caps;
      -moz-font-feature-settings: "c2sc", "smcp", "kern";
      -webkit-font-feature-settings: "c2sc", "smcp", "kern";
      font-feature-settings: "c2sc", "smcp", "kern";
      font-weight: 400;
    }
  }
}

.inline-figure {
  float: right;
  font-family: $heading-font-family;
  font-size: $base-font-size * 0.875;
  height: auto;
  width: 250px;
}

.guide-campania .grid-figure {
  float: left;
  margin: 1rem 0;
  padding-right: 1rem;
  width: 50%;

  @include media($small-screen) {
    &:nth-of-type(odd) { clear: both; }
  }

  @include media($medium-screen-up) {
    width: 33%;
    &:nth-of-type(3n+1) { clear: both; }
  }
}

.guide-campania ul {
  clear: both;
}

#beta-banner {
  background-color: $notice-color;
  bottom: 0;
  font-size: 0.95em;
  position: fixed;
  width: 100%;
  z-index: 1500;

  p {
    font-family: $heading-font-family;
    line-height: $base-line-height;
    margin: 0.25rem;
    text-align: center;
  }
}
