body { background-color: $base-background-color; }

a.button { font-family: $heading-font-family; }
.hidden { display: none; }

%inverse-link {
  color: $inverse-color;
  opacity: 0.65;
  text-decoration: none;
  transition: opacity 0.1s linear;

  &:active,
  &:focus,
  &:hover { opacity: 1; }

  &:active,
  &:focus { outline: none; }
}

.smcaps {
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footnotes {
  font-size: 0.75em;
  margin-top: 1.5rem;
  ol { @extend %default-ol; }
}

%body-text {
  font-size: $base-font-size;
  @include media($large-screen-up) { font-size: $base-font-size * 1.125; }

  h3 { margin-top: 2rem; }
  h4 { margin-top: 1.5rem; }
  ol { @extend %default-ol; }
  ul { @extend %default-ul; }

  p {
    margin-bottom: 0;
    + p { text-indent: $base-spacing; }
  }

  #appendix,
  #notes { margin-top: 1.5rem; }
}

.hide-on-mobile { @include media($small-screen) { display: none; } }

.force-wrap {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}
