body {
  background-color: $base-background-color;
}

.delete-me {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  height: 100vh;

  .container {
    text-align: center;

    h1 {
      font-weight: 200;
    }
  }
}
