@for $i from 1 through 60 {
  .bleed[data-catalogue="#{$i}"] {
    background-image: url(image_path("print/cat#{$i}.jpg"));
  }
}

.bleed[data-catalogue="1"] { background-position: center 10%; }
.bleed[data-catalogue="2"] { background-position: center 10%; }
.bleed[data-catalogue="3"] { background-position: center 15%; }
.bleed[data-catalogue="4"] { background-position: center 65%; }
.bleed[data-catalogue="5"] { background-position: center 65%; }
.bleed[data-catalogue="6"] { background-position: center 60%; }
.bleed[data-catalogue="8"] { background-position: center 60%; }
.bleed[data-catalogue="21"] { background-position: center 35%; }
.bleed[data-catalogue="22"] { background-position: center 60%; }
.bleed[data-catalogue="25"] { background-position: center 20%; }
.bleed[data-catalogue="26"] { background-position: center 20%; }
.bleed[data-catalogue="27"] { background-position: center 35%; }
.bleed[data-catalogue="28"] { background-position: center 35%; }
.bleed[data-catalogue="29"] { background-position: center 35%; }
.bleed[data-catalogue="30"] { background-position: center 35%; }
.bleed[data-catalogue="31"] { background-position: center 60%; }
.bleed[data-catalogue="32"] { background-position: center 35%; }
.bleed[data-catalogue="33"] { background-position: center 70%; }
.bleed[data-catalogue="38"] { background-position: center 25%; }
.bleed[data-catalogue="39"] { background-position: center 15%; }
.bleed[data-catalogue="40"] { background-position: center 10%; }
.bleed[data-catalogue="41"] { background-position: center 25%; }
.bleed[data-catalogue="42"] { background-position: center 10%; }
.bleed[data-catalogue="43"] { background-position: center 20%; }
.bleed[data-catalogue="44"] { background-position: center 20%; }
.bleed[data-catalogue="45"] { background-position: center 30%; }
.bleed[data-catalogue="46"] { background-position: center 30%; }
.bleed[data-catalogue="50"] { background-position: center 100%; }
.bleed[data-catalogue="55"] { background-position: center 20%; }
.bleed[data-catalogue="56"] { background-position: center 30%; }
.bleed[data-catalogue="57"] { background-position: center 20%; }
.bleed[data-catalogue="58"] { background-position: center 65%; }

// Default page setup
@prince-pdf {
  prince-pdf-page-layout: two-column-right;
}

@page {
  size: 8.5in 11in;
  margin: 1in;

  @bottom-center {
    content: counter(page);
    font-family: $base-font-family;
    font-size: 7pt;
  }
}

@page bleed {
  // bleed: 0.125in;
  margin: 0;
  size: 8.5in 11in;
  // marks: crop;
  @bottom-center { content: none; }
}

@media print {
  // Remove elements not necessary for this layout
  hr,
  .cover-copy,
  .cover-inner,
  .cover-map,
  .cover-explore,
  .cover-colophon,
  .details-heading,
  .discussion-note,
  .expand-all,
  .nav-primary,
  .page-header,
  .reversefootnote,
  #beta-banner { display: none; }
  .panel-left { display: none; width: 0; }

  // Global defaults
  a[href] { prince-link: none; text-decoration: none; color: $base-font-color; }
  body {
    background-color: #fff; margin: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.0625in 0;
    page-break-after: avoid;
    prince-bookmark-level: none;
  }

  h1 { font-size: 20pt; }
  h2 { font-size: 16pt; }
  h3 { font-size: 14pt; }
  h4 { font-size: 12pt; }
  h5 { font-size: 10pt; }
  h6 { font-size: 10pt; }
  img { page-break-inside: avoid; }
  // table { page-break-inside: avoid; }
  td { padding: 0.0625in 0; }

  // Section-specific
  .bleed {
    background-repeat: no-repeat;
    background-size: cover;
    height: 11in;
    page: bleed;
    page-break-before: left;
    page-break-after: always;
    width: 8.5in;
  }

  .cover {
    background-image: url(image_path("print/cover.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    height: 11in;
    page: bleed;
    page-break-after: always;
    width: 8.5in;
  }

  .main-content { background-color: #fff; color: #000; margin: 0 auto; }
  .panel { background-color: #fff; }
  .panel-right { width: 100%; }

  .page-cover {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 5in;
    margin: auto;
  }

  .page-title { prince-bookmark-level: 1; }
  .page-title { margin-bottom: 1in; padding: 0; }
  .page-title + .page-author { margin-top: -0.875in; margin-bottom: 1in; }

  .page-header-center {
    background-color: #fff;
    color: #000;
    width: 100%;
    text-align: center;
  }

  .table-of-contents {
    a::after {
      content: leader(" ") target-counter(attr(href, url), page);
    }

    h3, h4 {
      margin-top: 0.15in;
    }

    h6.toc-author { font-size: 9pt; margin: 0; }
    table + table { margin-top: 0.65in; }
  }

  .page-content,
  .object-content { font-size: 10pt; }

  .object-title {
    prince-bookmark-level: 1;
  }

  .object-columns,
  .reference { column-count: 2; column-gap: 0.35in; font-size: 9pt; }

  .object-header { margin-bottom: 1in; page-break-before: always; }
  .object-info td { border: none; }
  .object-info tr { border-bottom: 0.5pt solid $light-gray; }

  .object-content-section {
    border: 0;
    margin-bottom: 0.125in;

    h3 {
      color: $base-font-color;
      font-size: 11pt;
      font-weight: bold;
      margin: 0;
    }

    p { margin: 0; }
    // p:first-of-type { margin-top: 0; }
    p + p { text-indent: 0.25in; }

    h4#appendix { font-size: 10pt; margin-bottom: 0; }
    h4#notes { font-size: 10pt; margin-bottom: 0; }
  }

  .expander {
    .expander--hidden,
    .expander--content { display: block; }
  }

  #notes { margin-top: .25in; }


  // .page-title,
  // .object-title { font-size: 24pt; }
  .reference p { line-height: 1.5; margin: 0;}
  .reference li { margin-bottom: 0.125in; page-break-inside: avoid; }
}
