// Programatically build out image backgrounds
@for $i from 1 through 60 {
  .bleed[data-catalogue="#{$i}"] {
    background-image: url(image_path("print/cat#{$i}.jpg"));
  }
  .alt-view[data-catalogue-alt="#{$i}"] {
    background-image: url(image_path("print/cat#{$i}_alt.jpg"));
  }
}

// Default page setup
@prince-pdf { prince-pdf-page-layout: two-column-right; }

@page { size: 8.5in 11in; }

@page:left {
  margin-bottom: 0.875in;
  margin-left: 0.75in;
  margin-right: 1in;
  margin-top: 0.875in;

  @bottom-left {
    content: counter(page);
    font-family: $base-font-family;
    font-size: 7pt;
  }
}

@page:right {
  margin-bottom: 0.875in;
  margin-left: 1in;
  margin-right: 0.75in;
  margin-top: 0.875in;

  @bottom-right {
    content: counter(page);
    font-family: $base-font-family;
    font-size: 7pt;
  }
}

@page bleed {
  // bleed: 0.125in;
  margin: 0;
  size: 8.5in 11in;
  // marks: crop;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@media print {
  // Remove elements not necessary for this layout
  hr,
  .cover-copy,
  .cover-inner,
  .cover-map,
  .cover-explore,
  .cover-colophon,
  .details-heading,
  .discussion-note,
  .expand-all,
  .nav-primary,
  .page-header,
  .reversefootnote,
  .ion-link,
  .no-print,
  #beta-banner { display: none; }
  .panel-left { display: none; width: 0; }

  // Global defaults
  body { background-color: #fff; margin: 1rem; }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.125in;
    margin-top: 0.125in;
    page-break-after: avoid;
    prince-bookmark-level: none;
  }
  h1 { font-size: 18pt; }
  h2 { font-size: 16pt; }
  h3 { font-size: 13pt; }
  h4 { font-size: 10pt; }
  h5 { font-size: 9pt; }
  h6 { font-size: 8pt; }
  img { page-break-inside: avoid; }
  td { padding: 0.0625in 0; }
  table + table { margin-top: 0.65in; }

  // Section-specific
  .entry {
    page-break-before: left;
  }


  .object-title { prince-bookmark-level: 1; }
  article {
    column-count: 2;
    column-gap: 0.25in;
    font-size: 8pt;

    h3 { font-size: 9pt; font-weight: bold; }
    h4 { font-size: 8pt; font-weight: bold; }
    p { line-height: 1.5; margin: 0; }
    p + p { text-indent: 0.1875in; }
    ul, ol { margin-left: 0; padding-left: 0.0875in; }
  }

  article a[href] {
    prince-link: none;
    text-decoration: none;
    color: black;
  }

  .about {
    p + p { text-indent: 0.1875in; }
    h2, h3, h4 { border-top: none; }
    h3 { font-size: 9pt; font-weight: bold; }
    h4 { font-size: 8pt; font-weight: bold; }
    blockquote {
      background-color: white;
      margin: 0;
      padding: 0;
    }
  }

  .alt-view {
    background-repeat: no-repeat;
    background-size: cover;
    height: 9.25in;
    width: 6.75in;
  }

  .bleed {
    background-repeat: no-repeat;
    background-size: cover;
    height: 11in;
    page: bleed;
    width: 8.5in;
  }

  .cover {
    background-image: url(image_path("print/cover.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    height: 11in;
    page: bleed;
    page-break-after: always;
    width: 8.5in;
  }

  .main-content { background-color: #fff; color: #000; margin: 0 auto; }
  .panel { background-color: #fff; }
  .panel-right { width: 100%; }

  .page-cover {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 5in;
    margin: auto;
  }

  .page-title { prince-bookmark-level: 1; }
  .page-title { margin-bottom: 0.75in; padding: 0; }
  .page-title + .page-author { margin-top: -0.75in; margin-bottom: 0.625in; }

  .page-header-center {
    background-color: #fff;
    color: #000;
    width: 100%;
    text-align: center;
  }

  .table-of-contents {
    font-family: $heading-font-family;
    * { margin: 0; padding: 0; }
    a { margin: 0; }
    h3, h4, h6 { margin: 0; }
    li { font-size: 1em; margin-bottom: 0.15in; }
    table { font-size: 0.875em; margin-top: 0.15in; }
    ul { list-style-type: none; }
    a:after { content: leader(dotted) " " target-counter(attr(href, url), page); }
    .toc-author { font-size: 9pt; margin: 0; }
  }

  .reference { column-count: 1; }

  .object-header {
    margin-bottom: 0.5in;
  }

  .object-info { font-size: 7.5pt; }
  .object-info td { border: none; }
  .object-info tr { border-bottom: 0.5pt solid $light-gray; }

  .object-content-section {
    border: 0;
    line-height: 1.5;
    margin-bottom: 0.125in;
    h3 { font-size: 9.5pt; font-weight: bold; margin-bottom: 0; }
  }

  .expander {
    .expander--hidden,
    .expander--content { display: block; }
  }

  .footnotes { font-size: 6.75pt; margin-top: .125in; }
  .reference { font-size: 7pt; }
  .reference p { line-height: 1.5; margin: 0;}
  .reference li { margin-bottom: 0.125in; page-break-inside: avoid; }
}
