@for $i from 1 through 60 {
  .bleed[data-catalogue="#{$i}"] {
    background-image: url(image_path("print/cat#{$i}.jpg"));
  }
}

.bleed[data-catalogue="1"] { background-position: center 10%; }
.bleed[data-catalogue="2"] { background-position: center 10%; }
.bleed[data-catalogue="3"] { background-position: center 15%; }
.bleed[data-catalogue="4"] { background-position: center 65%; }
.bleed[data-catalogue="5"] { background-position: center 65%; }
.bleed[data-catalogue="6"] { background-position: center 60%; }
.bleed[data-catalogue="8"] { background-position: center 60%; }
.bleed[data-catalogue="21"] { background-position: center 35%; }
.bleed[data-catalogue="22"] { background-position: center 60%; }
.bleed[data-catalogue="25"] { background-position: center 20%; }
.bleed[data-catalogue="26"] { background-position: center 20%; }
.bleed[data-catalogue="27"] { background-position: center 35%; }
.bleed[data-catalogue="28"] { background-position: center 35%; }
.bleed[data-catalogue="29"] { background-position: center 35%; }
.bleed[data-catalogue="30"] { background-position: center 35%; }
.bleed[data-catalogue="31"] { background-position: center 60%; }
.bleed[data-catalogue="32"] { background-position: center 35%; }
.bleed[data-catalogue="33"] { background-position: center 70%; }
.bleed[data-catalogue="38"] { background-position: center 25%; }
.bleed[data-catalogue="39"] { background-position: center 15%; }
.bleed[data-catalogue="40"] { background-position: center 10%; }
.bleed[data-catalogue="41"] { background-position: center 25%; }
.bleed[data-catalogue="42"] { background-position: center 10%; }
.bleed[data-catalogue="43"] { background-position: center 20%; }
.bleed[data-catalogue="44"] { background-position: center 20%; }
.bleed[data-catalogue="45"] { background-position: center 30%; }
.bleed[data-catalogue="46"] { background-position: center 30%; }
.bleed[data-catalogue="50"] { background-position: center 100%; }
.bleed[data-catalogue="55"] { background-position: center 20%; }
.bleed[data-catalogue="56"] { background-position: center 30%; }
.bleed[data-catalogue="57"] { background-position: center 20%; }
.bleed[data-catalogue="58"] { background-position: center 65%; }

// Default page setup
@page {
  size: 8.5in 11in;
  margin: 1in;
}

@page entry:first {
  // bleed: 0.125in;
  margin: 0;
  // marks: crop;
}

article.entry {
  page: entry;

  .bleed {
    background-repeat: no-repeat;
    background-size: cover;
    height: 11in;
    page-break-after: always;
    width: 8.5in;
  }
}

@media print {
  #beta-banner { display: none; }

  body {
    background-color: #fff;
    margin: 1rem;
  }

  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  img { page-break-inside: avoid; }
  table { page-break-inside: avoid; }
  td { padding: 0.0625in 0; }
  hr { display: none; }

  h1 { font-size: 22pt; }
  h4 { margin: 0.0625in 0; }

  .main-content {
    background-color: #fff;
    color: #000;
    margin: 0 auto;
  }

  .panel { background-color: #fff; }
  .panel-left { display: none; width: 0; }
  .panel-right { width: 100%; }

  .page-cover {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 5in;
    margin: auto;
  }

  .nav-primary { display: none; }
  .page-header { display: none; }

  .page-title {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1in;
  }

  .page-header-center {
    background-color: #fff;
    color: #000;
    width: 100%;
    text-align: center;
  }

  .page-content,
  .object-content {
    font-size: 10pt;
  }

  .page-title,
  .object-title {
    font-size: 24pt;
  }

  .object-columns {
    column-count: 2;
    column-gap: 0.35in;
    font-size: 9pt;
  }

  .object-info {
    margin-bottom: 0.5in;
  }

  .object-content-section {
    border: 0;
    margin-bottom: 0.25in;

    h3 {
      font-size: 16pt;
      margin-bottom: 0.125in;
      page-break-after: avoid;
    }
  }

  .object-header { page-break-before: always; }
  .details-heading { display: none; }
  .discussion-note { display: none; }
  .expand-all { display: none; }
  .reversefootnote { display: none; }

  .expander {
    .expander--hidden,
    .expander--content {
      display: block;
    }
  }

  #notes {
    margin-top: .25in;
  }

}
