= wrap_layout :application do
  - catalogue = data.terracottas
  - current_item = catalogue.find { |item| item[:cat] == current_page.data.cat }
  .panel-container
    / Left Panel
    .panel.panel-left
      .panel-inner
        - if current_page.data.cat && has_rotation?(current_page.data.cat)
          #map{ :data => { :catalogue => current_item.cat.to_s,
                           :rotation => "true" }}
          = partial "modal"
        - elsif current_page.data.cat
          #map{ :data => { :catalogue => current_item.cat.to_s }}
        - else
          #map
    / Right Panel
    .panel.panel-right
      .panel-inner
        = yield
