---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section id="table-of-contents">
      <h4>Conents</h4>
			<ul>
				<li><a href="foreword.xhtml">Director&#x27;s Foreword</a>, Timothy Potts</li>
				<li><a href="acknowledgments.xhtml">Acknowledgments</a></li>
				<li><a href="introduction.xhtml">Introduction</a></li>
				<li><a href="classification.xhtml">Classification</a></li>
				<li><a href="production_techniques.xhtml">Production Techniques</a></li>
				<li><a href="map.xhtml">Map of South Italy and Sicily</a></li>
				<li><a href="catalogue-section.xhtml">Catalogue</a>
          <ul>
    				<li><a href="1.xhtml">Taranto Region (Cats. 1–37)</a></li>
    				<li><a href="38.xhtml">Canosa (Cats. 38–46)</a></li>
    				<li><a href="47.xhtml">Medma (Cats. 47–48)</a></li>
    				<li><a href="49.xhtml">Other South Italy (Cats. 49–50)</a></li>
    				<li><a href="51.xhtml">Sicily (Cats. 51–60)</a></li>
          </ul></li>
				<li><a href="guide.xhtml">Guide to the Collection of South Italian and Sicilian Terracottas</a>, Claire L. Lyons</li>
				<li><a href="abbreviations.xhtml">Abbreviations</a></li>
				<li><a href="bibliography.xhtml">Bibliography</a></li>
				<li><a href="authors.xhtml">Authors</a></li>
				<li><a href="copyright.xhtml">Copyright</a></li>
			</ul>
		</section>
  </body>
</html>
