---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="copyright" id="copyright">
      <p>The free, online edition of this catalogue, available at <a href="http://www.getty.edu/publications/terracottas">http://www.getty.edu/publications/terracottas</a>, includes zoomable high-resolution photography and a select number of 360° rotations; the ability to filter the catalogue by location, typology, and date; and an interactive map drawn from the Ancient World Mapping Center and linked to the Getty’s Thesaurus of Geographic Names and Pleiades. Also available are free PDF, EPUB, and MOBI downloads of the book; CSV and JSON downloads of the object data from the catalogue and the accompanying Guide to the Collection; and JPG and PPT downloads of the main catalogue images.</p>
      <p>© 2016 J. Paul Getty Trust</p>
      <p><a href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="../../assets/images/cc-by.png"></a><br>
      This work is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit <a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a> or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042.</p>
      <p><strong>Published by the J. Paul Getty Museum, Los Angeles</strong><br />
      Getty Publications<br>
      1200 Getty Center Drive, Suite 500<br>
      Los Angeles, California 90049-1682<br>
      <a href="http://www.getty.edu/publications">www.getty.edu/publications</a></p>
      <p>Ruth Evans Lane, Benedicte Gilman, and Marina Belozerskaya, <em>Project Editors</em><br>
      Robin H. Ray and Mary Christian, <em>Copy Editors</em><br>
      Antony Shugaar, <em>Translator</em><br>
      Elizabeth Chapin Kahn, <em>Production</em><br>
      Stephanie Grimes, <em>Digital Researcher</em><br>
      Eric Gardner, <em>Designer &#38; Developer</em><br>
      Greg Albers, <em>Project Manager</em></p>
      <div class="loc-cip">
        <p>Library of Congress Cataloging-in-Publication Data</p>
        <ul>
          <li>Names: J. Paul Getty Museum, author, issuing body. | Ferruzza, Maria Lucia, editor.</li>
          <li>Title: Ancient terracottas from South Italy and Sicily in the J. Paul Getty Museum / Maria Lucia Ferruzza.</li>
          <li>Description: Los Angeles : J. Paul Getty Museum, [2016] | ©2016 | Includes bibliographical references.</li>
          <li>Identifiers: LCCN 2015042795 (print) | LCCN 2015048344 (ebook) | ISBN 9781606064863 (pbk.) | ISBN 9781606064856 (epub) | ISBN 9781606061237 (online)</li>
          <li>Subjects: LCSH: Terra-cotta sculpture, Ancient‑‑Italy, Southern‑‑Catalogs. | Terra-cotta sculpture, Ancient‑‑Italy‑‑Sicily‑‑Catalogs. | J. Paul Getty Museum‑‑Catalogs. | Terra-cotta sculpture‑‑California‑‑Los Angeles‑‑Catalogs.</li>
          <li>Classification: LCC NB145 .J27 2016 (print) | LCC NB145 (ebook) | DDC 733/.309377–dc23</li>
          <li>LC record available at <a href="http://lccn.loc.gov/2015042795">http://lccn.loc.gov/2015042795</a>
          </li>
        </ul>
      </div>
      <ul>
        <li>Cover: Thymiaterion Supported by a Statuette of Nike (detail, cat. 53)</li>
      </ul>
    </section>
  </body>
</html>
