---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section id="cover">
      <div class="fullpage-image">
        <img src="../../assets/images/epub/cover.jpg">
      </div>
    </section>
  </body>
</html>
