---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="discussion" id="discussion-d">
      <% discussion = sitemap.find_resource_by_path("views/discussion/discussion-d.html") %>
      <h4>Group Discussion</h4>
      <h1 class="page-title">
        <%= discussion.data.title %>
      </h1>
      <h4>Cats. 45–46</h4>
      <article>
        <%= discussion.render(:layout => false ) %>
      </article>
    </section>
  </body>
</html>
