---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="discussion" id="discussion-c">
      <% discussion = sitemap.find_resource_by_path("views/discussion/discussion-c.html") %>
      <h3>Group Discussion (Cats. 38–41)</h3>
      <h1 class="page-title">
        <%= discussion.data.title %>
      </h1>
      <article>
        <%= discussion.render(:layout => false ) %>
      </article>
    </section>
  </body>
</html>
