---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= data.book.title.short %></title>
    <link href="assets/styles/epub.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <section class="titlepage" id="titlepage">
      <h1>Ancient Terracottas</h1>
      <h2>from South Italy and Sicily in the J. Paul Getty Museum</h2>
      <h3><%= data.book.creators.first.first_name %> <%= data.book.creators.first.last_name %></h3>
      <h4>The J. Paul Getty Museum <br />Los Angeles</h4>
      <img alt="Getty Logo" id="logo" src="../../assets/images/epub/gettylogo.png" />
    </section>
  </body>
</html>
