// Typography
$base-font-family: "Merriweather";
$heading-font-family: "Karla";

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$inverse-color: #fff;

// Font Colors
$base-background-color: #f6f6f6; //#f0f0f0;
$base-font-color: $dark-gray;
$action-color: #617D8C;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Shadow
$base-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);

// Transitions
$base-transition: all .3s ease-in-out;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
