.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5 Downloads
  .expander-content.toc-downloads
    %h6 Catalogue
    :markdown

      - [PDF](assets/downloads/AncientTerracottas_Ferruzza.pdf)
      - [EPUB](assets/downloads/AncientTerracottas_Ferruzza.epub)
      - [MOBI (Kindle)](assets/downloads/AncientTerracottas_Ferruzza.mobi)
      - [PRINT (in the Getty Shop)](http://shop.getty.edu/products/ancient-terracottas-from-south-italy-and-sicily-in-the-j-paul-getty-museum-978-1606061237)
