.grid.grid--gutters
  - data.terracottas.each do |object|
    .grid-cell.grid-cell--1of2.grid-cell-med--1of2.grid-cell-large--1of3.grid-cell-x-large--1of4
      .card{:style => "background-image: url(#{image_path(object.acc)}.jpg)"}
        %h5.card__title
          %a{:href =>"collection/#{object.cat}"}= object.title