.grid.grid--gutters
  - data.terracottas.each do |object|
    .grid-cell.grid-cell--1of2.grid-cell-med--1of3.grid-cell-large--1of4
      =link_to "#{site_url}/catalogue/#{object.cat}" do
        .card{:data => {:catalogue => object.cat.to_s}, |
          :style => "background-image: url(#{image_path(object.cat)}.jpg)"}
          %h5.card-title
            = object.title
