%ul
  %li
    %a{href: "/"}
      %h3 South Italian Terracottas
  %li
    %a Director's Forward
  %li
    %a{href: "/frontmatter/introduction"} Introduction
  %li
    %a{href: "/frontmatter/acknowledgements"} Acknowledgements
  %li
    %a{href: "/frontmatter/classification"} Classification
  %li
    %a{href: "/frontmatter/production_techniques"} Production Techniques
  %li
    %a{href: "/frontmatter/abbreviations"} Abbreviations
  %li
    %a{href: "/frontmatter/bibliography"} Bibliography
  %li
    %br
    %a{href: "/catalogue"}
      %h4 Catalogue
  %li
    %a{href: "/catalogue/south-italy"}
      %h5 South Italy
  %li
    %a{href: "/catalogue/sicily"}
      %h5 Sicily
  %li
    %a
      %h5 Deaccessioned
  %li
    %br
    %a
      %h4 Discussion
  %li
    %a{href: "/discussion/discussion-a"}
      %h5 Discussion A (Cat 1–3)
  %li
    %a{href: "/discussion/discussion-b"}
      %h5 Discussion B (Cat 4–23)
  %li
    %a{href: "/discussion/discussion-c"}
      %h5 Discussion C (Cat 38–41)
  %li
    %a{href: "/discussion/discussion-d"}
      %h5 Discussion D (Cat 45–46)
  %li
    %br
    %a
      %h4 Guide to the Collection
