%nav.page-header
  .page-header-left
    %a.no-smoothState#search
      %i.ion-search.ml2.mt2
    %input.search-input
  .page-header-center
    = link_to site_title, "#{site_url}/"
  .page-header-right
    %a.nav-primary-trigger.no-smoothState#off-canvas-toggle
      %i.ion-navicon.mr2.mt1
