%nav.page-header
  .page-header-left
    %a.no-smoothState#search
      %i.ion-search
  .page-header-center
    - page_title = ""
    - if current_page.data.cat
      - page_title = "Cat. " + current_page.data.cat.to_s
    - else
      - page_title = current_page.data.title
    = link_to "#{site_title} | #{page_title}", "#{site_url}/"
  .page-header-right
    %a.nav-primary-trigger.no-smoothState#off-canvas-toggle
      %i.ion-navicon
  .search-input
    %input#search-field{ :placeholder => "search", :name => "search" }
    %button.search-submit{ :type => "submit" }
      %i.ion-arrow-right-c
%ul.search-results
