<%
download_path = "assets/downloads/AncientTerracottas_Ferruzza"
store_url = "http://shop.getty.edu/products/ancient-terracottas-from-south-italy-and-sicily-in-the-j-paul-getty-museum-978-1606064863"
%>

<script id="search-info" type="text/x-handlebars-template">
  <li class="result-item">
    <p>
      <em>
        Results based on frequency of occurrence. A full index is available in the
        <%=link_to link_to "PDF", "#{site_url}/#{download_path}.pdf", :target => "blank" %>
        and <%=link_to "Paperback", "#{store_url}", :target => "blank" %> versions.
      </em>
    </p>
  </li>
</script>
