---
title: Catalogue
layout: application
sort_order: 10
---
- terracottas = merge_catalogue
- locations   = terracottas.uniq { |item| item[:info][:location] }
- types       = terracottas.uniq { |item| item[:info][:typology] }
- groups      = terracottas.uniq { |item| item[:info][:group] }
- groups.keep_if { |item| item[:info][:group] }

.container.mt3
  %h1.page-title.centered= current_page.data.title
  #catalogue-grid.centered
    .dropdown
      .dropdown-container
        %p.dropdown-description Location
        %p.dropdown-button Select
        %ul.dropdown-menu.dropdown-select
          %li{data: {region:"all"}}
            All Locations
          - locations.each do |item|
            %li{data: {region: item[:info][:location]}}= item[:info][:location]
      .dropdown-container
        %p.dropdown-description Typology
        %p.dropdown-button Select
        %ul.dropdown-menu.dropdown-select
          %li{data: {typology:"all"}}
            All Types
          - types.each do |item|
            %li{data: {typology: item[:info][:typology]}}= item[:info][:typology]
      .dropdown-container
        %p.dropdown-description Group
        %p.dropdown-button Select
        %ul.dropdown-menu.dropdown-select
          %li{data: {group:"all"}}
            All Groups
          - groups.each do |item|
            %li{data: {group: item[:info][:group]}}= item[:info][:group]
      .dropdown-container
        %p.dropdown-description Date
        %p.dropdown-button Select
        %ul.dropdown-menu.dropdown-select
          %li{data: {start: "all", end:"all"}}
            All Dates
          %li{data: {start: "550", end:"500"}} 550–500 BC
          %li{data: {start: "499", end:"450"}} 499–450 BC
          %li{data: {start: "400", end:"350"}} 400–350 BC
          %li{data: {start: "399", end:"350"}} 399–350 BC
          %li{data: {start: "349", end:"300"}} 349–300 BC
          %li{data: {start: "299", end:"250"}} 299–250 BC
          %li{data: {start: "249", end:"200"}} 249–200 BC
          %li{data: {start: "199", end:"150"}} 199–150 BC
          %li{data: {start: "149", end:"100"}} 149–100 BC
    %a.button.no-smoothState.mt1{id: "catalogue-filter-clear"}
      Clear Filters
    %h6.result-counter.mt2
    .grid.grid--gutters.pb4
  = partial "card"
