---
title: Catalogue
layout: application
sort_order: 10
pdf_output: false
---
<div class="container mt3">
  <h1 class="page-title centered"><%= current_page.data.title %></h1>
  <div id="catalogue" class="centered">

    <!-- Loading indicator -->
    <div v-if="! loaded" id="loading">
      <div class="loader">
        <div class="loader-inner line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <label class="dropdown" for="locationSelect">
      Location
      <select id="locationSelect" v-model="selection.location" v-cloak>
        <option v-for="option in locationOptions" v-bind:value="option">
          {{ option }}
        </option>
      </select>
    </label>

    <label class="dropdown" for="typologySelect">
      Typology
      <select id="typologySelect" v-model="selection.typology" v-cloak>
        <option v-for="option in typologyOptions" v-bind:value="option">
          {{ option }}
        </option>
      </select>
    </label>

    <label class="dropdown" for="dateSelect">
      Date Range
      <select id="dateSelect" v-model="selection.date" v-cloak>
        <option v-for="option in dateOptions" v-bind:value="option">
          {{ option.text }}
        </option>
      </select>
    </label>

    <label class="dropdown" for="groupSelect">
      Group
      <select id="groupSelect" v-model="selection.group" v-cloak>
        <option v-for="option in groupOptions" v-bind:value="option">
          {{ option }}
        </option>
      </select>
    </label>

    <br>

    <button class="button" @click="clearFilters">
      Clear Filters
    </button>

    <h6 v-cloak class="result-counter mt2">
      {{ currentEntries.length }} Results
    </h6>


    <!-- Grid -->
    <div v-cloak class="grid grid--gutters pb4">
      <a v-for="item in entries | selectedItems | orderBy sortKey"
         href="{{ './' + item.info.cat + '/' }}"
         data-catalogue="{{item.info.cat}}"
         href="#" class="card">
        <div class="card-info">
          <img v-if="item.meta.rotation"
               class="card-rotate-icon"
               alt="360° Rotation Available"
               src="../assets/images/icons/noun_191739_white.svg">
        </div>
        <div class="card-title">
          <h5 class="mb0">{{item.info.image}}</h5>
          <h5 class="mb0">{{item.info.cat}}. {{item.info.title}}</h5>
          <h6 class="card-date">{{item.info.date}}</h6>
        </div>
      </a>
    </div>

    <!-- Empty state -->
    <h2 v-cloak v-if="currentEntries.length == 0" class='grid-empty'>
      No results found
    </h2>
    <!-- <pre>{{ $data.selection | json }}</pre> -->
  </div>
</div>
