// Card class
// Cards have full-bleed image backgrounds, subtle shadows, and labels
// anchored to the bottom. They have a fixed height and fluid width. Suitable
// for displaying results in a grid.
//
// :hover         - "Raise" the element with increase in box-shadow
// .card-title    - The label component anchored to bottom of card

// .grid-cell.grid-cell--1of2.grid-cell-med--1of3.grid-cell-large--1of3

.grid--gutters > .card,
.grid--gutters > .feature-object {
  margin: $base-spacing 0 0 $base-spacing;
  text-align: left;
}

.feature-object {
  @include flex(1 0 30%);
  @include media($small-screen) {
    @include flex(1 0 80%);
  }
}

.card {
  @include transition($base-transition);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(stretch);
  @include justify-content(space-between);
  @include flex(1 0 42%);
  background-color: $light-gray;
  background-position: center 55%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  box-sizing: border-box;
  height: 300px;
  overflow: hidden;

  @include media($large-screen-up) {
    @include flex(0 0 31%);
    background-position: center 40%;
  }

  &:hover {
    box-shadow: $hover-box-shadow;
    .card-title { color: $inverse-color; }
  }
}

.card-title {
  @include flex(0 0 24%);
  @include transition($base-transition);
  background-color: transparentize(#000, 0.5);
  color: transparentize($inverse-color, 0.2);
  display: block;
  font-size: 1rem;
  margin-bottom: 0;
  overflow: hidden;
  padding: $small-spacing;
  z-index: 10;

  @include media($small-screen) {
    @include flex(0 0 30%);
  }
}

.card-date { opacity: 0.5; }
.card-info {
  @include flex(0 0 20%);
  @include align-self(flex-end);
  padding: 0.75rem;
}

.card-rotate-icon {
  height: auto;
  opacity: 0.35;
  width: 30px;
}

.grid-empty {
  @include flex(1);
  color: $light-gray;
  margin: $base-spacing 0 0 $base-spacing;
  margin-top: 4rem;
  text-align: center;
}

// Overrides for specific images
[data-catalogue="1"] { background-position: center 10%; }
[data-catalogue="2"] { background-position: center 10%; }
[data-catalogue="3"] { background-position: center 15%; }
[data-catalogue="4"] { background-position: center 65%; }
[data-catalogue="5"] { background-position: center 65%; }
[data-catalogue="6"] { background-position: center 60%; }
[data-catalogue="8"] { background-position: center 60%; }
[data-catalogue="21"] { background-position: center 35%; }
[data-catalogue="22"] { background-position: center 60%; }
[data-catalogue="25"] { background-position: center 20%; }
[data-catalogue="26"] { background-position: center 20%; }
[data-catalogue="27"] { background-position: center 35%; }
[data-catalogue="28"] { background-position: center 35%; }
[data-catalogue="29"] { background-position: center 35%; }
[data-catalogue="30"] { background-position: center 35%; }
[data-catalogue="31"] { background-position: center 60%; }
[data-catalogue="32"] { background-position: center 35%; }
[data-catalogue="33"] { background-position: center 70%; }
[data-catalogue="38"] { background-position: center 25%; }
[data-catalogue="39"] { background-position: center 15%; }
[data-catalogue="40"] { background-position: center 10%; }
[data-catalogue="41"] { background-position: center 25%; }
[data-catalogue="42"] { background-position: center 10%; }
[data-catalogue="43"] { background-position: center 20%; }
[data-catalogue="44"] { background-position: center 20%; }
[data-catalogue="45"] { background-position: center 30%; }
[data-catalogue="46"] { background-position: center 30%; }
[data-catalogue="50"] { background-position: center 100%; }
[data-catalogue="55"] { background-position: center 20%; }
[data-catalogue="56"] { background-position: center 30%; }
[data-catalogue="57"] { background-position: center 20%; }
[data-catalogue="58"] { background-position: center 65%; }
