.card {
  @include transition($base-transition);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(stretch);
  @include justify-content(flex-end);
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  height: 320px;
  overflow: hidden;

  background-color: $light-gray;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;

  @include media($large-screen-up) {
    background-position: center center;
  }

  &:hover {
    box-shadow: $hover-box-shadow;

    .card__title {
      //background-color: #000;
      color: #fff;
    }
  }

}

.card__title {
  @include flex(0 0 20%);
  @include transition($base-transition);
  background-color: transparentize(#000, 0.5);
  color: transparentize(#fff, 0.4);
  margin-bottom: 0;
  padding: $small-spacing;
  text-align: left;
  display: block;
  z-index: 10;
  overflow: hidden;

  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;

  // a { @extend %inverse-link; }

}
