// Cover Class
// Styles specific to the cover page layout live here.
//
// .cover           - Full-bleed background image
// .cover-inner     - Starts half-way down cover, contains transparent overlay
// .cover-title     - Sits on top of cover-overlay for legibility; centered
// .cover-subtitle  - Same as above
// .cover-content   - White background, sits below cover image region
// .centered        - single text column inside .cover-content; centered

.cover {
  @include display(flex);
  @include justify-content(center);
  @include flex-wrap(wrap);
  background-color: $dark-gray;
  background-image: url(image-path("large/86.AD.681.jpg"));
  background-position: center 40%;
  background-size: cover;
  height: 100vh;
}

.cover-inner {
  @include align-self(flex-end);
  @include background-image(linear-gradient(
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.5) 100%));

  color: $inverse-color;
  height: 550px;
  padding-top: 2rem;
  text-align: center;
  width: 100%;

  @include media($small-screen) {
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  a { @extend %inverse-link; }
}

.cover-title {
  font-size: 2.75rem;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);

  @include media ($large-screen-up) {
    font-size: 4rem;
    margin: 1.5rem auto;
    max-width: 75%;
  }
}

.cover-subtitle {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.cover-content {
  .centered { text-align: center; }
}
