// Cover Class
// Styles specific to the cover page layout live here.
//
// .cover           - Full-bleed background image
// .cover-inner     - Starts half-way down cover, contains transparent overlay
// .cover-title     - Sits on top of cover-overlay for legibility; centered
// .cover-subtitle  - Same as above
// .cover-author    - same as above
// .cover-content   - White background, sits below cover image region
// .centered        - single text column inside .cover-content; centered

.cover {
  background-color: $dark-gray;
  background-image: url(image-path("86.AD.681.detail_1.jpg"));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  @include media($medium-screen-up) {
    background-image: url(image-path("86.AD.681.detail_2.jpg"));
    height: 100vh;
  }

  @include media($large-screen-up) {
    background-image: url(image-path("large/86.AD.681.jpg"));
  }
}

.cover-inner {
  @include background-image(linear-gradient(
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.75) 100%));
  background-image: -moz-linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.75) 100%);
  color: $inverse-color;
  padding: 1rem;
  position: static;
  text-align: center;
  width: 100%;

  @include media($small-screen) {
    background-color: $action-color;
    padding: 1.5rem;
  }

  @include media($medium-screen-up) {
    @include background-image(linear-gradient(
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.85) 100%));
    background-image: -moz-linear-gradient(
      transparent 0%,
      rgba(0, 0, 0, 0.85) 100%);
    height: 45vh;
    padding: 0 3rem;
    position: absolute;
    top: 55vh;
  }

  a { @extend %inverse-link; }
}

.cover-title {
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.5);
  @include media($medium-screen-up) { font-size: 3rem; }

  @include media ($large-screen-up) {
    font-size: 3.75rem;
    margin: 1.5rem auto;
    max-width: 75%;
  }
}

.cover-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include media($medium-screen-up) { font-size: 2rem; }
}

.cover-author {
  font-size: 1rem;
  @include media($medium-screen-up) { font-size: 1.5rem; }
}

.centered { text-align: center; }

%cover-block {
  margin-top: 1rem;
  @include media($medium-screen-up) {
    margin-top: 1.5rem;
  }
}

%cover-container {
  @include outer-container;
  @include media($large-screen-up) { padding: 0; }
  padding: $base-spacing;

  a.button {
    display: table;
    font-family: $heading-font-family;
    margin: 1rem auto;
  }
}

.cover-copy {
  background-color: $light-gray;
  padding: 1rem;
}

.cover-copy-inner {
  @extend %cover-container;
  @extend %cover-block;

  blockquote {
    @include margin(null 0 null 0);
    font-size: 1.25em;
  }

  a.button { margin-top: 3rem; }

  @include media($medium-screen-up) { @include padding(null 4rem); }
  @include media($large-screen-up) { @include padding(null 8rem); }
}

.cover-map {
  @extend %cover-block;
  #map { height: 300px; }
  @include media($medium-screen-up) {
    #map { height: 600px; }
  }
}

.cover-map-inner {
  @extend %cover-container;
  padding: 1rem;
}


.cover-explore {
  @extend %cover-container;
  @extend %cover-block;
  a.button { margin-top: 3rem; margin-bottom: 2rem; }
}

.cover-colophon {
  background-color: tint($dark-gray, 20%);
  padding: 0.75rem;
}

.cover-colophon-inner {
  @extend %cover-container;
  @extend %cover-block;
  color: $inverse-color;
  padding-bottom: 3rem;
}

.colophon-logo {
  margin: 2rem auto;
  width: 50px;

  @include media($large-screen-up) {
    margin: 2rem 0 0;
    float: right;
  }
}
