$label-border-color: #dcdcdc;

.dropdown {
  border: 1px solid $label-border-color;
  border-radius: 3px;
  color: lighten($base-font-color, 40%);
  display: inline-block;
  font-family: $heading-font-family;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.25rem 0.75rem;
  text-align: left;

  @include media($small-screen) {
    display: block;
    width: 100%;
  }

  select {
    @include appearance(none);
    background-color: transparent;
    border: none;
    color: $base-font-color;
    display: inline-block;
    font-family: $heading-font-family;
    margin: 0;
    margin-left: 0.5rem;
    min-width: 1rem;
    outline: none;
    padding-left: 0;

    @include media($small-screen) {
      margin-left: 0;
    }
  }
}
