// These are hard overrides for 3rd party JS widgets

// enable these elements in JS; disabled in CSS by default
.js-only {
  display: none;
}

// Loading styles from here: https://github.com/ConnorAtherton/loaders.css
#loading {
  height: 80vh;
  margin-top: 30vh;
  text-align: center;
}

[v-cloak] {
  display: none;
}

.line-scale > div {
  background: $action-color;
}

// .leaflet-control-container .leaflet-fullscreen {
//   font-size: 1.5em;
//   line-height: 10px;
//   padding: 0;
//   text-align: center;
//   @include media($small-screen) { display: none; }
// }

.leaflet-touch .leaflet-fullscreen {
  width: 34px !important;
  height: 34px !important;
  line-height: 38px !important;
  text-align: center;
}

.leaflet-control-layers-toggle {
  background-image: url(image-path("icons/noun_48787.svg"));
  background-size: 24px;
}

.rotate-icon {
  padding: 3px;
}

// force override for Leaflet's z-index behavior
// not sure how else to keep region labels from overlapping the catalogue labels
// when they appear further south...

.map-label-region {
  z-index: 200 !important;
}

.map-label-region p {
  color: #000;
  font-family: $heading-font-family;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  // text-shadow: 1px 1px transparentize($base-background-color, 0.5);
  text-transform: capitalize;
}

.map-label-site p {
  font-family: $heading-font-family;
  font-weight: normal;
  line-height: 1;
}

.map-label-country p {
  @extend .smcaps;
  color: #000;
  font-family: $base-font-family;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-shadow: 1px 1px transparentize($base-background-color, 0.5);
  text-transform: capitalize;
}

.map-label-catalogue {
  font-weight: bold;
  text-decoration: underline;
}
