// These are hard overrides for 3rd party JS widgets
// Loading styles from here: https://github.com/ConnorAtherton/loaders.css
#loading {
  height: 80vh;
  margin-top: 30vh;
  text-align: center;
}

[v-cloak] {
  display: none;
}

.line-scale > div {
  background: $action-color;
}


#map {
  .easy-button-button {
    font-size: 1.5em;
    line-height: 10px;
    padding: 0;
    text-align: center;
  }
}

.leaflet-control-layers-toggle {
  background-image: url(image-path("icons/noun_48787.svg"));
  background-size: 24px;
}

.rotate-icon {
  padding: 3px;
}

.map-label-region p {
  color: transparentize($base-font-color, 0.25);
  font-family: $heading-font-family;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  // text-shadow: 2px 2px transparentize($base-background-color, 0.5);
  text-transform: capitalize;
}

.map-label-country p {
  // color: transparentize($base-font-color, 0.25);
  font-family: $heading-font-family;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px transparentize($base-background-color, 0.5);
  text-transform: capitalize;
}

.map-label-catalogue {
  p {
    background-color: $base-background-color;
    border-radius: $base-border-radius;
    font-family: $heading-font-family;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 0.25rem;
    text-align: center;
    text-transform: capitalize;
  }
}
