// These are hard overrides for 3rd party JS widgets

#map {
  .easy-button-button {
    font-size: 1.5em;
    line-height: 10px;
    padding: 0;
    text-align: center;
  }
}

.leaflet-control-layers-toggle {
  background-image: url(image-path("icons/noun_48787.svg"));
  background-size: 24px;
}

.rotate-icon {
  padding: 3px;
}
