$modal-padding: 3em;
$modal-background: $base-background-color;
$modal-close-color: $light-gray;

.modal {
  display: none;
}

.modal-open {

  .modal {
    display: block;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    text-align: left;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 99999999999;
  }

  .modal-close {
    @include position(fixed, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    z-index: 999999999999;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }
}
