.object-data { visibility: hidden; }

.object-header {
  @include transition($base-transition);
  text-align: center;

  @include media($medium-screen-up) {
    margin-bottom: $base-spacing;
    margin-top: $base-spacing;
  }

  @include media($large-screen-up) {
    margin-bottom: $base-spacing * 2;
    margin-top: $base-spacing;
  }
}

.object-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 $base-spacing;
  text-align: center;
  @include media($large-screen-up) { font-size: 2.25rem; }
}

.object-info {
  font-family: $heading-font-family;
  line-height: 1.3;

  tbody tr:last-child {
    td { border-bottom: 0px; }
  }
}

.object-meta {
  color: lighten($base-font-color, 40%);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.object-content {
  @include transition($base-transition);
  @include media($large-screen-up) { padding: $base-spacing; }

  ul li {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.object-content-section {
  @extend %body-text;
  @include transition($base-transition);
  border-bottom: $base-border;
  margin: 0 0 $base-spacing;
}

.expander {
  @include transition($base-transition);
  .expander-trigger { display: block; }
  .expander-content { margin-bottom: $base-spacing; }
  //.expander--hidden + .expander-content { display: none; }
  .expander--hidden { display: none;}
}

.discussion-note {
  // background-color: tint($light-gray, 50%);
  // border-radius: $base-border-radius;
  color: $medium-gray;
  display: block;
  font-family: $heading-font-family;
  font-size: 1rem;
  margin: $base-spacing 0;
  // padding: $small-spacing;
}
