.object__title {
  font-weight: 600;
  text-align: center;

  @include media($medium-screen-up) {
  }
}

.object__info {
  font-family: $heading-font-family;
  //font-size: $base-font-size * 1.25;
  line-height: 1.3;
}

.object__meta {
  font-weight: 400;
  color: lighten($base-font-color, 40%);
  text-transform: uppercase;
  text-align: center;
}

.object__attr {

}

.object__content {
}

.object__content__section {
  border-bottom: $base-border;
  font-size: $base-font-size * 1.25;
  margin: 0 0 $base-spacing 0;
  + p { text-indent: $base-spacing; }
}

.expander {  
  .expander__trigger {
    display: block;
  }

  .expander__content {
    margin-bottom: $base-spacing;
  }

  .expander--hidden + .expander__content {
    display: none;
  }
}
