// Off Canvas Nav
// Originally based on: https://github.com/freshyill/Responsive-Off-Canvas-Navigation
// This component also includes a rule that paints the <body> element with a bg-color
// the same as that of the off-canvas-nav, to hide flashes of white in some browsers

// .nav-primary           - Off Canvas nav region
// .main-content          - Everything that's *not* the off-canvas nav area
// .nav-primary-trigger   - Link that shows/hides the off-canvas nav

$nav-width:       20rem;
$nav-color:       $medium-gray;
$nav-background:  $dark-gray;
$nav-font:        $heading-font-family;
$nav-position:     right;                  // left or right; default is right


@mixin off-canvas-nav($nav-position) {
  // Mobile first
  @include transition($base-transition);
  @include display(flex);
  @include flex-direction(column);
  @include align-items(space-between);
  @include justify-content(center);
  @include media($large-screen-up) { width: $nav-width; }

  &.visible {
    @include transform(translateX(0)); overflow: auto;
    ~ .nav-primary-trigger { @extend %inverse-link; }
  }

  background-color: $nav-background;
  color: $nav-color;
  font-family: $nav-font;

  height: 100vh;
  overflow: hidden;
  padding: 2rem;
  position: fixed;

  width: 100vw;  // nav is fullscreen on small sizes
  z-index: 2000; // probably overkill

  // Conditionally assign position based on left or right option
  @if $nav-position == "left" {
    @include transform(translateX(-100%));
    left: 0;
  } @else {
    @include transform(translateX(100%));
    right: 0;
  }

  @include media($large-screen-up) {
    &.visible {
      ~ .main-content {
        @if $nav-position == "left" { @include transform(translateX($nav-width));
        } @else { @include transform(translateX(-$nav-width)); }
      }
    }
  }
}

// Template styles

body { background-color: $nav-background; }

.main-content {
  @include transition($base-transition);
  background-color: $base-background-color;
}

.nav-primary {
  @include off-canvas-nav(right);
  a { @extend %inverse-link; }
  .toc { max-height: 100%; }
}


.nav-primary-trigger {
  cursor: pointer;
  font-size: 2.125rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
}
