// Off Canvas Nav
// Originally based on: https://github.com/freshyill/Responsive-Off-Canvas-Navigation
// This component also includes a rule that paints the <body> element with a bg-color
// the same as that of the off-canvas-nav, to hide flashes of white in some browsers

// .nav-primary           - Off Canvas nav region
// .main-content          - Everything that's *not* the off-canvas nav area
// .nav-primary-trigger   - Link that shows/hides the off-canvas nav

$nav-width:       20rem;
$nav-color:       shade($action-color, 40%);
$nav-background:  $action-color;
$nav-font:        $heading-font-family;


@mixin off-canvas-nav {
  // Mobile first
  @include transition($base-transition);
  @include transform(translateX(100%));

  @include display(flex);
  @include flex-direction(column);
  @include align-items(space-between);
  @include justify-content(center);

  background-color: $nav-background;
  color: $nav-color;
  font-family: $nav-font;
  height: 100vh;
  overflow: hidden;
  padding: 4rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;  // nav is fullscreen on small sizes
  z-index: 1200; // Leaflet ui has z-index of 1000

  &.visible {
    @include transform(translateX(0));
    box-shadow: -3px 0px 6px 0px rgba(0, 0, 0, 0.3);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    ~ .nav-primary-trigger {
      @extend %inverse-link;
    }
  }

  @include media($large-screen-up) {
    width: $nav-width;

    &.visible {
      ~ .main-content {
        @include transform(translateX(-$nav-width));
        overflow: hidden;

        .page-header-right {
          display: none;
        }

        .menu-close-trigger {
          opacity: 1;
        }
      }
    }
  }
}

// Template styles
.main-content {
  @include transition($base-transition);
  background-color: $base-background-color;
}

.nav-primary {
  @include off-canvas-nav;
  a { @extend %inverse-link; }
  .toc { max-height: 100%; }
}

.menu-close-trigger {
  cursor: pointer;
  opacity: 0;
  font-size: 2.125rem;
  position: absolute;
  right: 0;
  top: 0;
}
