.page-header {
  @include transition($base-transition);
  background-color: $base-background-color;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  font-family: $heading-font-family;
  height: 60px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1100;
}

// If page has panel layout, header only covers right panel
.panel-container ~ .page-header {
  @include media($small-screen) { width: 100%; }
  position: absolute;
  width: 50%;
}

.page-header {
  &.panel--collapse {
    @include transform(translateX(50vw));
    width: 0%;
  }
  &.panel--expand {
    width: 100%;
  }
}

// Make header transparent on cover page
.cover ~ .page-header {
  background-color: transparent;
  border: none;

  .page-header-left,
  .page-header-center { display: none; }
}

.page-header-center {
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  text-align: center;
  width: 80%;
}

.page-header-left,
.page-header-right {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 10%;
}

.page-header-left {
  font-size: 1.5rem;
  margin-left: 20px;
  top: 10px;
}

.page-header-right {
  font-size: 2.125rem;
  margin-right: 20px;
  right: 0;
  text-align: right;
  top: 0;
}
