.page-cover {
  margin-bottom: 2rem;
  @include display(flex);
  @include justify-content(center);
  @include flex-wrap(wrap);

  background-color: $dark-gray;
  background-position: center 70%;
  background-size: cover;
  height: 75vh;

  @include media($small-screen) { height: 400px; }
  @include media($medium-screen-up) { height: 600px; }
  @include media($large-screen-up) { height: 60vh; }

  // Overrides for cases where cover image precedes page title
  ~ .container .page-content .page-title {
    margin-top: 1rem;
    @include media($large-screen-up) { margin-top: 2rem; }
  }
}

.page-title {
  margin-bottom: 2rem;
  margin-top: 4rem;
  @include media($large-screen-up) { margin-top: 6rem; }
  ~ .page-author { margin-top: 0; }
}

.page-author { margin-bottom: 3rem; }

.page-content {
  @extend %body-text;
  margin: 0 auto;
  max-width: 42rem;
}


.page-content blockquote {
	background-color: $light-gray;
	border-radius: 8px;
	margin: 2rem 0;
	padding: $base-spacing;
}

.reference {
  @include prefixer(column-count, 2, webkit moz spec);
  @include prefixer(column-gap, 2.5rem, webkit moz spec);
  p + p { text-indent: 0; }
  li {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    overflow: hidden;       // fix for Firefox
    padding-bottom: 1.5rem;
  }
  ul { padding: 0; }
}

.about .page-content {
  // indicates new section in "about" page

  h2 {
    border-top: 2px solid $light-gray;
    margin-top: 3rem;
    padding-top: 1.5rem;
  }

  p {
    margin-bottom: $base-spacing;
    + p { text-indent: 0; }
  }

  ul {
    font-family: $heading-font-family;
    line-height: 1.4;
    margin: 1rem 0;
    padding: 0;
    li { list-style-type: none; margin-left: 0; }
  }
}

.copyright {
  border-top: 2px solid $light-gray;
  line-height: 1.4;
  font-family: $heading-font-family;
  margin-top: 3rem;
  padding-top: 1.5rem;
  p { font-size: 0.875em; }
}

.abbreviations article,
.bibliography article {
	font-size: $base-font-size * 1.135;	
}
