// Page class
//
// .page-cover      - Full-bleed image (no type overlay)
// .running-head    - Appears top center above content area, links back to home
// .page-title      - Global page title styles
// .page-conent     - Container class; applies body-text placeholder

.page-cover {
  @include display(flex);
  @include justify-content(center);
  @include flex-wrap(wrap);
  background-color: $dark-gray;
  background-position: center 70%;
  background-size: cover;
  height: 75vh;
  // margin-top: 60px; // <-- this causes a weird firefox bug

  @include media($small-screen) {
    height: 400px;
  }
}

.page-title {
  margin: 0 auto;
  max-width: 48rem;
  padding-bottom: 2rem;
  padding-top: 4rem;

  @include media($medium-screen-up) {
    padding-bottom: 2rem;
    padding-top: 5rem;
  }
}

.page-content {
  @extend %body-text;
  margin: 0 auto;
  max-width: 48rem;
}
