.panel-container {
  @include display(flex);
  @include media($small-screen) { @include flex-direction(column); }
}

// Panel Base
// =============================================
.panel {
  @include transition($base-transition);
  @include media($medium-screen-up) {
    @include flex(0 0 50%);
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

// Left panel (image/map panel)
// =============================================
.panel-left {
  @include media($small-screen) {
    &.panel--expand { #map { height: 100vh; } }
    .easy-button-container {
      display: none;
      &:last-of-type { display: block; }
    }

  }

  background-color: $dark-gray;
  overflow: hidden;
  &.panel--expand { @include flex(0 0 100%); }
}

// Mapbox map needs to have height applied
#map {
  background-color: $dark-gray;
  height: 500px;
  margin-top: 60px;

  @include media($small-screen) {
    height: 300px;
  }

  @include media($medium-screen-up) {
    height: 100vh;
    margin-top: 0;
  }
}

// Right panel (text panel)
// =============================================
.panel-right {
  background-color: $base-background-color;

  .panel-inner {
    padding: 2rem;
    @include media($medium-screen-up) {
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 650px;
    }
    @include media($x-large-screen-up) {
      max-width: 800px;
      padding: 3rem;
    }
  }
}
