$search-bg: darken($base-background-color, 10%);
$search-text-color: $base-font-color;


// Do not display search box unless search is active
.search-input {
  display: none;
}

.search-close {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 11px;
  right: 15px;

}

// When search input is active, do the following:
.search-active {
  background-color: $search-bg;
  color: $search-text-color;

  .page-header-center,
  .page-header-right {
    display: none;
  }

  .search-input {
    color: $search-text-color;
    display: block;
    font-family: $heading-font-family;
    z-index: 1400;

    input {
      background-color: $search-bg;
      border: none;
      float: left;
      font-family: $heading-font-family;
      font-size: 1.25rem;
      left: 50px;
      outline: none;
      position: relative;
      top: 0.875rem;
      width: 80%;
    }

    button {
      background-color: transparent;
      color: $action-color;
      float: right;
      font-size: 2rem;
      margin: 0;
      outline: none;
      padding: 0;
      position: relative;
      right: 20px;
      top: 0.75rem;
    }
  }
}

.search-results {
  @include transition($base-transition);
  opacity: 0;
  display: none;


  &.search-active {
    display: block;
    height: 100vh;
    opacity: 1;
    overflow: auto;
    padding: 2rem;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1200;
  }
}
