// TOC Class
// Controls TOC display both inside off-canvas nav and on cover page.
//
// .toc               - TOC component
// .toc-section       - e.g., "Catalogue"
// .toc-subsection    - e.g., "South Italy", "Sicily" - nests under toc-section
// .toc-entry-author  - These are often <spans>, so add display: block for sanity


.toc {
  font-family: $heading-font-family;
  font-size: $base-font-size * 1.125;
  margin: 0 auto;
  max-width: 48rem;
}

.toc-section {
  // border-top: solid 1px transparentize($inverse-color, 0.5);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

.toc-subsection {
  border-top: solid 3px transparentize($inverse-color, 0.85);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;

  &:last-of-type {
    border-bottom: solid 3px transparentize($inverse-color, 0.85);
    margin-bottom: 2rem;
  }
}

.toc-entry-author { display: block; }
.toc-logo { display: none; }

.nav-primary {
  .toc-logo {
    display: block;
    margin-top: 3rem;
    max-height: 3rem;
    opacity: 0.75;
  }
}
