.toc {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  list-style-type: none;
  margin: 0 auto;
  max-width: 48rem;
}

.toc-section {
  border-bottom: solid 2px transparentize($inverse-color, 0.85);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.toc-subsection {
  border-bottom: solid 3px transparentize($inverse-color, 0.85);
  border-top: solid 3px transparentize($inverse-color, 0.85);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  &:first-of-type { border-bottom: none; }
  &:last-of-type { border-top: none; }
}

.toc-entry-author { display: block; }
.toc-logo { display: none; }

.nav-primary {
  .toc-logo {
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-height: 3rem;
    opacity: 0.75;
  }
}

.toc-downloads,
.toc-cite {
  background-color: transparentize($inverse-color, 0.75);
  font-size: 0.85rem;
  padding: $small-spacing;
  ul { margin: $small-spacing 0; }
  a { font-weight: bold; }
}

.toc-info {
  font-size: 1rem;
  line-height: 1.3;
  strong { display: block; }
}
